:root {
    --trunk-color: #583928;
    --branch-color: #155132;
    --leaf-color: #2d6a3e;
    --flower-color: #93d17a;
    --logo-text-color: #35231B;
    --background-color: #fff9e2;
    --main-text-color: #593c1f;
    --alt-text-color: #556B2F;
    --head-text-color: #22551C;
    --title-text-color: #228B22;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    line-height: 1.6;
    margin: 20px;
    background-color: var(--background-color);
    min-height: 100vh;
    margin-bottom: 0;
}

/* Heading styles */
h1 {
    font-size: 2em;
    color: var(--title-text-color);
}

h2 {
    font-size: 1.5em;
    color: var(--title-text-color);
}

/* Paragraph styles */
p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

li::marker {
    color: var(--title-text-color);
}

header {
    background-color: var(--background-color);
    padding-bottom: 25px;
    color: var(--alt-text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    aside {
        display: inline-block;
    }

    img {
        width: 256px;
    }

    h1 {
        color: var(--logo-text-color);
        font-size: 3em;
        margin: 0;
    }

    h2 {
        color: var(--title-text-color);
        font-size: 2em;
        margin: 0;
    }
}

main {
    background-image: url("../img/watermark.png");
    background-size: contain;
    resize: both;
    background-size: 1280px;
    height: 100%;
    flex: 1;
    max-width: 1280px;
    margin: auto;
}

footer {
    min-height: 50px;
}