<footer>
    <div>
        <h1>Further information</h1>
        <ul>
            <li><a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">Contact Us</a></li>
            <li><a href="subscribe.ejs">Subscribe to events</a></li>
            <li><a href="privacy.ejs">Privacy Notice</a></li>
        </ul>
    </div>
    <div>
        <h1>Coding and making</h1>
        <ul>
            <li><a href="coding_hints_and_tips.ejs">Coding hints and tips</a></li>
            <li><a href="https://codeclub.org/en/learn-to-code">Online coding tutorials</a></li>
            <li><a href="https://makecode.microbit.org/">Making and coding with micro:bits</a></li>
            <li><a href="https://www.tinkercad.com/">Design in 3D and simulate electronic circuits</a></li>    
        </ul>
    </div>
    <div>
        <h1>Other links</h1>
        <ul>
            <li><a href="https://newquayorchard.co.uk/">Newquay Orchard</a></li>
            <li><a href="https://techcornwall.co.uk/whats-on/youth-activity/">Cornwall Tech Jam</a></li>
            <li><a href="https://www.tecgirls.co.uk/">TECgirls</a></li>
            <li><a href="https://codeclub.org/en/">Code Club</a></li>
            <li><a href="https://www.cornwall.gov.uk/people-and-communities/digital-inclusion/">Digital Inclusion</a></li>
            <li><a href="https://www.digitalfuturescornwall.co.uk/">Digital Futures Cornwall</a></li>
        </ul>
    </div>
</footer>
</body>

</html>