<footer>
    <div>
        <h1>Further Information</h1>
        <ul>
            <li><a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">Contact Us</a></li>
            <li><a href="subscribe.ejs">Subscribe to events</a></li>
<!--            <li><a href="privacy.ejs">Privacy Notice</a></li>-->
        </ul>
    </div>
    <div>
        <h1>Useful Links</h1>
        <ul>
            <li><a href="https://newquayorchard.co.uk/">Newquay Orchard</a></li>
            <li><a href="https://techcornwall.co.uk/">TechCornwall</a></li>
            <li><a href="https://codeclub.org/en/">Code Club</a></li>
        </ul>
    </div>
</footer>
</body>

</html>