<footer>
    <h3>Useful Links</h3>
    <ul>
        <li>
            <a href="https://newquayorchard.co.uk/">Newquay Orchard</a>
        </li>
        <li>
            <a href="https://techcornwall.co.uk/">TechCornwall</a>
        </li>
        <li>
            <a href="https://www.raspberrypi.org/learn/">Raspberry Pi Foundation</a>
        </li>
    </ul>
</footer>
</body>

</html>