<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branching Out <%= page %></title>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="description" content="<%= description %>">
    <meta name="theme-color" content="#228B22">
    <link rel="icon" href="img/favicon.ico" sizes="any">
    <link rel="icon" href="img/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="img/logo.png">
</head>

<body>
    <header>
        <img src="img/logo.svg" alt="Club logo. A stylised image merging a tree with the tracks of an electronic circuit">
        <aside>
            <h1>BRANCHING OUT</h1>
            <h2>Code and Makers Club</h2>
            <p><i>Growing Opportunities Through Coding and Making</i></p>
            <p><i>with </i><a href="https://newquayorchard.co.uk/">Newquay Orchard</a> in Cornwall.</p>
        </aside>
    </header>
    <%- include ("navigation.ejs") -%>