<%
    let pages=["Home","About","Coding","Making","Supporting","Subscribe"]
    const url=(p)=>{
        if (p=="Home") {
            return "index"
        }
        return p.toLowerCase()
    }
    const html=(p)=>{
        if (p==page) {
            return `<a class="disabled">${p}</a>`
        }
        return `<a href="${url(p)}.ejs">${p}</a>`
    }
 %>
<nav>
    <%- pages.map(p=>html(p)).join('') %>
</nav>