:root {
    --trunk-color: #583928;
    --branch-color: #155132;
    --leaf-color: #2d6a3e;
    --flower-color: #93d17a;
    --logo-text-color: #35231B;
    --background-color: #fff9e2;
    --main-text-color: #593c1f;
    --alt-text-color: #556B2F;
    --head-text-color: #22551C;
    --title-text-color: #228B22;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

/* Heading styles */
h1 {
    font-size: 2em;
    color: var(--title-text-color);
}

h2 {
    font-size: 1.5em;
    color: var(--title-text-color);
}

h3 {
    font-size: 1em;
    color: var(--title-text-color);
}

a {
    color: var(--title-text-color);
}

a:visited {
    color: var(--alt-text-color);
}

/* Paragraph styles */
p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

li::before {
    content: '';
    color: var(--title-text-color);
    display: inline-block;
    padding: 4px;
    border-radius: 100%;
    border-width: 2px;
    margin: 0px 5px;
    background-color: var(--flower-color);
    border-style: solid;
    border-color: var(--branch-color);
}

header {
    background-color: var(--background-color);
    padding-bottom: 25px;
    color: var(--alt-text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    aside {
        display: inline-block;
    }

    img {
        width: 256px;
    }

    h1 {
        color: var(--logo-text-color);
        margin: 0;
    }

    h2 {
        color: var(--title-text-color);
        margin: 0;
    }
}

nav {
    a {
        display: inline-block;
        margin: 0;
        border-width: 2px;
        padding: 1px 6px 1px;
        border-color: var(--branch-color);
        color: var(--branch-color);
        background-color: var(--flower-color);
        border-radius: 5px;
        border-style: solid;
        text-decoration: none;
        line-height: normal;
    }

    a.disabled {
        opacity: 0.5;
    }
}

main {
    background-image: url("../img/watermark.png");
    background-size: contain;
    resize: both;
    background-size: 1280px;
    height: 100%;
    flex: 1;
    max-width: 1280px;
    margin: auto;
    line-height: 1.6;
}

footer {
    min-height: 50px;
}