<%- include("partials/header.ejs", {page: "404", description: "Sorry, the page you requested does not exist."}) -%>
    <main>
        <h1>Page not found</h1>
        <p>The page your requested does not exist</p>
    </main>
<%- include("partials/footer.ejs") -%>