<%- include("partials/header.ejs", {page: "Coding"}) -%>
    <main>
        <h1>Coding</h1>
        <p>Come and use our computers to build your knowledge and skills. Whatever your experience we have something to offer. Maybe you have never tried coding before and are just curious. Maybe you are a professional coder looking for inspiration. Perhaps you are somewhere in between and want to learn more.</p>
        <h2>Beginner</h2>
        <p>Learn what coding means and how it can help people get things done. Get help and simple instructions to code your very first programme. Get creative making some digital artwork or a simple computer game.</p>
        <h2>Intermediate</h2>
        <p>Take what you already know and build new skills. Go deeper into the coding that you already know or try crossing over into something new. It could be a new coding language like Scratch, Python or C++. It could be progressing your own project such as a website or controlling things such as lights and motors.</p>
        <h2>Advanced</h2>
        <p>Build out your skills into new areas. Try out coding and making 3D models. Design, assemble and code your own robot or digital art installation. Try your hand at supporting others and help them learn from your experience.</p>
    </main>
<%- include("partials/footer.ejs") -%>