<%- include("partials/header.ejs", {page: "CodingHintsAndTips"}) -%>
    <main>
        <h1>Coding hints and tips</h1>
        <news>
            <article>
        <h2>Note for kids</h2>
        <p>Please talk to a grown-up before using any of the online links as they may need to give permission. For example, you can have your own Raspberry Pi account but if you are under 13 you need a grown-up to set it up for you.</p>
            </article>
            <article>
        <h2>Note for grown ups</h2>
        <p>If you've never had the opportunity to code or have not tried it in recent years you may be surprised about how easy and cheap coding can be these days. Lots of code clubs are focused on children but we find grown-ups can get just as much out of it. For some, a little bit of awareness is enough. Others find it opens up new work or hobby opportunities and want to do more. Either way, we would be happy to help.</p>
            </article>
        </news>
        <h2>Coding at home</h2>
        <p>Lots of things we do at the club can be started or continued at home. The lessons and tools are available free, online and nearly all of the equipment is cheap or can be borrowed. Most things will work on a mobile phone or tablet but it can help to have a bit of a bigger screen, such as the laptops we use at club events. You could use a computer at a library if you don't have something suitable at home. You can sign up for an account (under-13s need help from an adult) so you can save what you make and keep working on it at a code club.</p>
        <p>The online information is really good and some people are happy learning this way. Others will feel a bit more confident if there is someone to ask or show them and this is why we run the club. This page has some information to get you started but come and ask at one of our <a href="events.ejs">events</a> or use our <a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">contact form</a> if you want to know more.</p>
        <h2>First steps</h2>
        <p>The Raspberry Pi Foundation provides lots of <a href="https://projects.raspberrypi.org/en">free, online coding projects</a> to try. One of our favourites is <a href="https://projects.raspberrypi.org/en/projects/boat-race">the boat race game</a>. Kids and grown ups are often surprised and delighted by what they are able to make in an hour or two. You can sign up for an account (under-13s need help from an adult) so you can save what you make and keep working on it at home.</p>
        <p>Another favourite place to start is working with micro:bit computers on the <a href="https://makecode.microbit.org/">Make Code website</a>. You can borrow a micro:bit to use at home from libraries around Cornwall but you can start coding without one. You can sign-up for an account (under-13s need help from an adult) just like the Raspberry Pi Foundation.</p>
        <h2>Learning paths</h2>
        <p>Most people start using block coding such as <a href="https://scratch.mit.edu/">Scratch</a>. This is a great way to learn about coding concepts and see something working instantly without having to deal with much jargon or deal with fiddly details.</p>
        <p>From here are lots of different paths we can take. The <a href="https://projects.raspberrypi.org/">Raspberry Pi Projects page</a> has some good suggestions. Lots of these are about mixing up coding or making with another interest such as art or sport.</p>
        <p>If you have a particular idea or ambition we can help you pick a good next step and help you get there. Alternatively, you can just try things out and let your own sense of satisfaction guide you. Perhaps you can mix a bit of both.</p>
    </main>
<%- include("partials/footer.ejs") -%>