<%- include("partials/header.ejs") -%>
    <main>
        <h1>Introduction</h1>
        <p>Branching Out is a code and makers club, based in Newquay, designed to empower and inspire people through coding and hands-on making. Our mission is to foster creativity, problem-solving, and digital literacy in a supportive, inclusive and sustainable environment. The club is open to all skill levels who are curious about technology and innovation and aims to meet a diverse range of needs including:</p>
        <ul>
            <li>school-age children</li>
            <li>career changers</li>
            <li>job seekers</li>
            <li>people exploring new hobbies and creative outlets.</li>
        </ul>
    </main>
<%- include("partials/footer.ejs") -%>