<%- include("partials/header.ejs", {page: "Home" }) -%>
    <main>
        <h1>Next Event</h1>
        <h2>Thursday, 9th October</h2>
                <b>17:00-19:00</b>
                <h3>Heart and Soul Cafe</h3>
                <p>Newquay Community Orchard</p>
                <p>Trevenson Road, Newquay, TR7 3BW</p>
                <p><b>Parking address: Yeoman Way, Newquay, TR7 2SL</b></p>
    </main>
    <%- include("partials/footer.ejs") -%>