<%- include("partials/header.ejs", {page: "Making"}) -%>
    <main>
        <h1>Making</h1>
        <p>Making is about turning your ideas into designs and then building them. Initially we will be working with the 3D printers in the Digital Design Studio at Newquay Orchard. We hope to include other hand and machine tools in the future.</p>
        <h2>3D Printing</h2>
        <p>The 3D printers we use create objects by sticking together lots of tiny strings of molten plastic. The machines are computer controlled and incredibly accurate, working to fractions of a millimetre. There are lots of pre-made designs we can use or we can help you make your own unique design.</p>
        <p>We would like to be able to help people with other kinds of making so please <a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">get in touch</a> if you think you could help.</p>
        <h2>Beginner</h2>
        <p>Understand how a 3D printer works and what it can do. Personalise and print ready-made designs such as a key fob, small toy or a house you can put in your garden to encourage bees and other insects.</p>
        <h2>Intermediate</h2>
        <p>Remix 3D models into something new or create your own from scratch. We've designed and printed things like a screen for an electronic art display and the chassis for a robot that can draw pictures with a pen or pencil.</p>
        <h2>Advanced</h2>
        <p>Add in electronic and digital elements to create working prototypes of robots, automated components or interactive artwork.</p>
    </main>
<%- include("partials/footer.ejs") -%>