<%- include("partials/header.ejs", {page: "Making"}) -%>
    <main>
        <h1>Making</h1>
        <p>Turn your ideas into reality. Initially we will be working with the 3D printers in the Digital Design Studio at Newquay Orchard. We hope to include other hand and machine tools in the future.</p>
        <h2>Beginner</h2>
        <p>Understand how a 3D printer works and what it can do. Personalise and print ready-made designs.</p>
        <h2>Intermediate</h2>
        <p>Remix 3D models into something new or create your own from scratch.</p>
        <h2>Advanced</h2>
        <p>Add in electronic and digital elements to create working prototypes of robots, automated components or interactive artwork.</p>
    </main>
<%- include("partials/footer.ejs") -%>