<%- include("partials/header.ejs", {page: "Privacy" }) -%>
    <main>
        <h1>Privacy Notice</h1>
        <p>If you choose to use our <a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">contact form</a> or <a href="subscribe.ejs">subscribe</a> to reminders we collect your email address. We only use your email address to send reminders for up-coming events or respond to your enquiry or request. You can manage your information using the <i>update</i> or <i>unsubscribe</i> links at the bottom of our reminder or contact emails. You can also use our <a href="https://us9.list-manage.com/contact-form?u=4fbff3206c396fd04bd5ac25d&form_id=be43aa401e7e018e2b512807959b5051" target="_blank">contact form</a> and we will do it for you.</p>
        <p>We use <a href="https://mailchimp.com/">Mailchimp</a> to manage this information. You can read more about <a href="https://mailchimp.com/about/security/"">Mailchimp's security and compliance with UK regulations</a> on their website.</p>
    </main>
    
    <%- include("partials/footer.ejs") -%>