<%- include("partials/header.ejs", {page: "Home" }) -%>
    <main>
        <h1>Privacy Notice</h1>
        <h2>What information we collect, use and why</h2>
        <p>We collect names and email addresses to:</p>
        <ul>
            <li>Send reminders for up-coming events</li>
            <li>Respond to enquiries and requests</li>
        </ul>
        <h2>Lawful basis and data protection rights</h2>
        <p>Under UK data protection law, we must have a “lawful basis” for collecting and using your personal information.</p>
        <p>Which lawful basis we rely on may affect your data protection rights which are set out in brief below. You can find out more about your data protection rights and the exemptions which may apply on the ICO’s website:</p>
        <ul>
            <li><b>Your right of access</b> - You have the right to ask us for copies of your personal information. You can request other information such as details about where we get personal information from and who we share personal information with. There are some exemptions which means you may not receive all the information you ask for.</li>
            <li><b>Your right to rectification</b> - You have the right to ask us to correct or delete personal information you think is inaccurate or incomplete.</li>
            <li><b>Your right to erasure</b> - You have the right to ask us to delete your personal information.</li>
            <li><b>Your right to restriction of processing</b> - You have the right to ask us to limit how we can use your personal information.</li>
            <li><b>Your right to object to processing</b> - You have the right to object to the processing of your personal data.</li>
•	Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you. Read more about the right to data portability.
•	Your right to withdraw consent – When we use consent as our lawful basis you have the right to withdraw your consent at any time. Read more about the right to withdraw consent.
</li>
        </ul>
    </main>
    
    <%- include("partials/footer.ejs") -%>