<% events=[
    `<h1>Next Event</h1>
        <mark>Free</mark><mark>No Booking Required</mark>
        <time>
            <h2>Wednesday, 14th January 2026</h2>
            <b>17:00-19:00</b>
        </time>
        <address>
            <h3>Heart and Soul Cafe</h3>
            <p>Newquay Community Orchard</p>
            <p>Trevenson Road, Newquay, TR7 3BW</p>
            <p><b>Parking address: Yeoman Way, Newquay, TR7 2SL</b></p>
        </address>
        <p><a href="subscribe.ejs">Subscribe to be notified of future events</a></p>`,
    `<h1>Cornwall Tech Jam</h1>
        <mark>Free</mark>
        <time>
            <h2>Saturday, 17th January</h2>
            <b>10:00-14:00</b>
        </time>
        <address>
            <p>Hendra Hall</p>
            <p>Truro, TR1 3TP</p>
        </address>
        <p><a href="https://techcornwall.co.uk/events/cornwall-tech-jam-january-2026/">Visit Tech Cornwall for details</a></p>`,
    `<h1>Cornwall Tech Jam</h1>
        <mark>Free</mark>
        <time>
            <h2>Saturday, 7th February</h2>
            <b>10:00-14:00</b>
        </time>
        <address>
            <p>Fibrehub</p>
            <p>Pool, TR15 3GF</p>
        </address>
        <p><a href="https://techcornwall.co.uk/events/cornwall-tech-jam-february-2026/">Visit Tech Cornwall for details</a></p>`,
    `<h1>February Event</h1>
        <mark>Free</mark><mark>No Booking Required</mark>
        <time>
            <h2>Wednesday, 11th February 2026</h2>
            <b>17:00-19:00</b>
        </time>
        <address>
            <h3>Heart and Soul Cafe</h3>
            <p>Newquay Community Orchard</p>
            <p>Trevenson Road, Newquay, TR7 3BW</p>
            <p><b>Parking address: Yeoman Way, Newquay, TR7 2SL</b></p>
        </address>
        <p><a href="subscribe.ejs">Subscribe to be notified of future events</a></p>`
]%>