<%
    events=[`
            <h1>Next Event</h1>
            <mark>Free</mark><mark>No Booking Required</mark>
            <time>
            <h2>Thursday, 9th October</h2>
            <b>17:00-19:00</b>
            </time>
            <address>
            <h3>Heart and Soul Cafe</h3>
            <p>Newquay Community Orchard</p>
            <p>Trevenson Road, Newquay, TR7 3BW</p>
            <p><b>Parking address: Yeoman Way, Newquay, TR7 2SL</b></p>
            </address>
            <p><a href="subscribe.ejs">Subscribe to be notified of future events</a></p>
        `,`
            <h1>November Event</h1>
            <mark>Free</mark><mark>No Booking Required</mark>
            <time>
            <h2>Thursday, 6th November</h2>
            <b>17:00-19:00</b>
            </time>
            <address>
            <h3>Heart and Soul Cafe</h3>
            <p>Newquay Community Orchard</p>
            <p>Trevenson Road, Newquay, TR7 3BW</p>
            <p><b>Parking address: Yeoman Way, Newquay, TR7 2SL</b></p>
            </address>
            <p><a href="subscribe.ejs">Subscribe to be notified of future events</a></p>
        `]
%>